body {
	background-color: rgb(10, 10, 10);
	color: white;
	font-family: "Arial";
}
.center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bubble {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
